@charset "utf-8";
@import url("Godo.css");
@import url("line-awesome.css");
@import url("layout_pc.css");
@import url("common.css");

/* Reset */
*{ box-sizing: border-box; user-select: none; }
html,body{width:100%;height:100%}
html{overflow-y:scroll;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,form,fieldset,p,button,textarea{font-family:'Godo', sans-serif;  margin:0;padding:0; word-break:break-all; word-break:keep-all;font-weight:normal; }
body,input,button{font-size:12px; color:#333;}
body{background-color:#f7f7f7;text-align:center;*word-break:break-all;-ms-word-break:break-all}
img,fieldset,iframe{border:0 none}
li{list-style:none}
input,select,button{outline:none;border:none ;}
input{text-indent:8px;}
i,em,address{font-style:normal}
label,button{cursor:pointer}
button{margin:0;padding:0;}
a{text-decoration:none; }
a:hover{text-decoration:none; outline:none !important;}
a:focus{text-decoration:none; outline:none !important;}
button *{position:relative; outline:none !important;}
button img{*left:auto}
option{padding-right:6px}
table{border-collapse:collapse;border-spacing:0}
input::-ms-clear{display:none}
canvas {-moz-user-select: none;-webkit-user-select: none;-ms-user-select: none;}
svg{width:100%;}
textarea{width:100%; border: 1px solid #E8E9EC;resize: none; outline:none;}

/*layout*/
.all_wrap{width:100%; height:100%;}
.wrap{width:100%; height:100%;}
.header_wrap{width:100%;}
.header{width:100%;}
.content_wrap{width:100%;height:100%;}
.content{width:100%;}
.footer_wrap{width:100%;}

/*main*/
.main_tit{padding:80px 0 50px 50px; text-align:left; font-size:50px; font-weight:bold;background:url(../images/ic_dish.png) no-repeat; background-position:90px 40px;background-size:300px auto;}
.main_con p{font-size:20px; font-weight:bold;margin-bottom:20px;}
.main_btn_box{background:url(../images/ic_food.png) no-repeat; background-position:center;}

/*button*/
.circle_box{display:inline-block; width:170px; height:170px; border-radius:50%; background:#EF5B5B; padding-top:15px; box-shadow:0 0 20px rgba(0, 0, 0, .4); margin:0 10px;}
.random_btn{width:140px; height:140px; border-radius:50%; border:2px solid #FCC5CD; background:#EF5B5B;  font-size:30px; font-weight:bold; color:#fff;}


/*상세정보 팝업_오버레이*/
.blocker{position:fixed;top:0;right:0;bottom:0;left:0;width:100%;height:100%;overflow:auto;z-index:1;padding:20px;box-sizing:border-box;background-color:#000;background-color:rgba(0,0,0,0.75);text-align:center}
.blocker:before{content:"";display:inline-block;height:100%;vertical-align:middle;margin-right:-0.05em}
.blocker.behind{background-color:transparent}
    
.modal{
        /* display:none; */
        vertical-align:middle;position:relative;z-index:2;max-width:500px;box-sizing:
        border-box;width:90%;background:#fff;padding:20px;-webkit-border-radius:4px;-moz-border-radius:4px;-o-border-radius:4px;-ms-border-radius:4px;border-radius:4px;
        -webkit-box-shadow:0 0 10px #000;-moz-box-shadow:0 0 10px #000;-o-box-shadow:0 0 10px #000;-ms-box-shadow:0 0 10px #000;box-shadow:0 0 10px #000;text-align:center;}
.modal a.close-modal{display:none !important; position:absolute;top:-12.5px;right:-12.5px;display:block;width:30px;height:30px;border-radius:50%; background:#F73D56;}
.modal a.close-modal:before{display:none; content: "\f342"; font-family:"LineAwesome"; color:#fff; position: absolute;top:4px; left:5px;font-size:20px;}

.modal_tit_box{margin-bottom:30px; color:#4d4d4d;}
.modal_tit_box h2{font-size:24px; font-weight:bold;}
.modal_con_box{}
.modal_btn_box{}
  
  

